<%# Googleマップ %>
<div id="map"></div>

<script>
  let map;
  function initMap() {
    //現在地の取得
    navigator.geolocation.getCurrentPosition(function (pos) {

      let lat = pos.coords.latitude;
      let lng = pos.coords.longitude;

      $.ajax({
        url: '/maps',
        type: 'GET',
        dataType: 'json',
        data: {
          "lat": lat,
          "lng": lng
        },
      });

      LatLng = new google.maps.LatLng(lat, lng);

      // 取得した位置情報を中心に表示
      map = new google.maps.Map(document.getElementById('map'), {
        center: LatLng,
        zoom: 15
      });

      // マーカーの追加
      marker = new google.maps.Marker({
        position: LatLng, // マーカーを立てる位置を指定
        map: map, // マーカーを立てる地図を指定
      });
      myInfoWindow = new google.maps.InfoWindow({
        // 吹き出しに出す文
        content: "イマココ"
      });
      myInfoWindow.open(map, marker);
      google.maps.event.addListener(myInfoWindow, "closeclick", function() {
        google.maps.event.addListenerOnce(marker, "click", function(event) {
        myInfoWindow.open(map, marker);
        });
      });
    });
  }
</script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=<%="#{ENV['GOOGLE_MAP_API']}"%>&callback=initMap&libraries=&v=weekly"
  async>
</script>

<%# 選択ボックス %>
<div class="selection">
  <h4>現在地からの距離</h4>
    <%= form_tag maps_path, method: :get, id:'form' do %>
      <%= select_tag 'distance_id', options_for_select([['選択してください', ''], ['500m以内',2], ['1km以内',3], ['2km以内', 4]]), id: 'distances' %>
      <%= submit_tag "検索", id: "submit" %> 
    <% end %>
</div>

<div class="flickr_pagination">
  <%= will_paginate @cafes, :container => false %>
</div>

<%# 検索結果の表示 %>
<% @cafes.each do |cafe| %>
  <div id="research">
    <div class="row">
      <div class="col-md-7 col-md-2 mx-auto">
        <div class="card shadow mb-md">
          <% if cafe.present? %>
            <%= image_tag cafe[:photo][:pc][:l], class: "card-img-top" %>
            <div class="card-block">
              <div class="card-title mb-md">
                <h4><%= cafe[:name] %></strong></h4>
              </div>
              <div class="card-text left-align pl-sm pr-sm">
                <div class="sub-title mb-sm">
                  <p>＜アクセス＞</p>
                </div>
                <div class="mb-sm">
                  <%= cafe[:access] %>
                </div>
                <div class="center-align">
                  <%= link_to "もっと詳しく", detail_path(cafe), class: "btn letter-spacing mb-md" %>
                </div>
              </div>
            </div> 
          <% end %>    
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="flickr_pagination">
  <%= will_paginate @cafes, :container => false %>
</div>



